doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/UI.css')

    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
  body
    block content
